<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ROAM-E</title>
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.4.27/vue.cjs.min.js"
        integrity="sha512-0iiTIkY3h448LMfv6vcOAgwsnSIQ4QYgSyAbyWDtqrig7Xc8PAukJjyXCeYxVGncMyIbd6feVBRwoRayeEvmJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- stylesheet -->
    <link
    rel="stylesheet"
    href="https://unpkg.com/@material-tailwind/html@latest/styles/material-tailwind.css"
    />

    <!-- script -->
    <script src="https://unpkg.com/@material-tailwind/html@latest/scripts/script-name.js"></script>
    <script type="module" src="main.js"></script>
  <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSl0VkkRkU1LXjDqcq3n4fS32c8WQIK6E"></script>


    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        clifford: '#da373d',
                    }
                }
            }
        }
    </script>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="./style/css/customize.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

</head>

<body id="app" class="text-center w-screen h-screen bg-gray-100 text-gray-800 p-10 border-box ">
    <!-- popup -->
    <div id="overlay" @click="closeFAB" :class="isOpenPopup ? 'dark-overlay': '' "></div>
    <div class="fab" @click="openFAB" :class="isOpenPopup ? 'active': '' ">
        <!-- <i class="material-icons fab-icon">add</i> -->
        <div class="relative">
            <video class="w-full" v-if="isOpenPopup" autoplay playsinline></video>
            <canvas v-show="isIsHasImg" class="absolute left-0 top-0" :class="isIsHasImg? 'w-full h-auto': 'w-0 h-0'"></canvas>
        </div>
        <div class="mt-[20px] flex justify-center items-center w-full text-white gap-[12px]" v-show="isOpenPopup">
            <a href="javascript:;" class="flex justify-center items-center w-[48px] h-[48px] bg-blue-600 border-box rounded-full" @click="clearImage">
                <span class="material-symbols-outlined text-[32px]">
                    hide_image
                </span>
            </a>
            <a href="javascript:;" class="flex justify-center items-center w-[48px] h-[48px] bg-blue-600 border-box rounded-full" @click="clickCapture">
                <span class="material-symbols-outlined text-[32px]">
                    done
                </span>
            </a>
        </div>
    </div>

    <!-- end of popup -->
    <div class="max-w-[1200px] w-full h-full mx-auto flex flex-col text-left">

        <h1 class="text-xl font-bold  text-clifford"> ROAM-E </h1>

        <!-- chat -->
        <div class="flex flex-col items-center justify-center w-full flex-1">
            <!-- show open camera screen -->
        
        <!-- end of show open camera screen -->

            <!-- Component Start -->
            <div class="flex flex-col flex-grow w-full   overflow-hidden">
                <ul class="flex flex-col flex-grow h-0 p-4 overflow-auto">
                    <template v-for="(item, index) in getReversedAnswerArr()" v-if="getReversedAnswerArr().length > 0">
                    <li class="flex w-full mt-3 space-x-3 max-w-[800px] ml-auto justify-end">
                        <div>
                            <div class="bg-blue-600 text-white p-3 rounded-l-lg rounded-br-lg">
                                
                                <p class="text-sm">{{item.prompt}}</p>
                            </div>
                            <!-- <span class="text-xs text-gray-500 leading-none">2 min ago</span> -->
                        </div>
                        <div class="flex-shrink-0 h-10 w-10 rounded-full bg-gray-300"></div>
                    </li>
                    <li class="flex w-full mt-3 space-x-3 max-w-[800px]">
                        <div class="flex-shrink-0 h-10 w-10 rounded-full bg-gray-300"></div>
                        <div>
                            <!--  -->
                            
                            <div  class="bg-gray-300 p-3 rounded-r-lg rounded-bl-lg">
                                <div class="wrapper" v-if="item.answer == 'loading'">
                                    <div class="blue ball"></div>
                                    <div class="red ball"></div>  
                                    <div class="yellow ball"></div>  
                                    <div class="green ball"></div>  
                                </div>
                                <p v-else class="text-sm">{{item.answer}}</p>
                            </div>
                            <!-- <span class="text-xs text-gray-500 leading-none">2 min ago</span> -->
                        </div>
                    </li>
                    
                     </template>
                    <!-- <div class="flex w-full mt-2 space-x-3 max-w-xs ml-auto justify-end">
                        <div>
                            <div class="bg-blue-600 text-white p-3 rounded-l-lg rounded-br-lg">
                                <p class="text-sm">Lorem ipsum dolor sit amet.</p>
                            </div>
                            <span class="text-xs text-gray-500 leading-none">2 min ago</span>
                        </div>
                        <div class="flex-shrink-0 h-10 w-10 rounded-full bg-gray-300"></div>
                    </div>
                    <div class="flex w-full mt-2 space-x-3 max-w-xs">
                        <div class="flex-shrink-0 h-10 w-10 rounded-full bg-gray-300"></div>
                        <div>
                            <div class="bg-gray-300 p-3 rounded-r-lg rounded-bl-lg">
                                <p class="text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            </div>
                            <span class="text-xs text-gray-500 leading-none">2 min ago</span>
                        </div>
                    </div>
                    <div class="flex w-full mt-2 space-x-3 max-w-xs ml-auto justify-end">
                        <div>
                            <div class="bg-blue-600 text-white p-3 rounded-l-lg rounded-br-lg">
                                <p class="text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            </div>
                            <span class="text-xs text-gray-500 leading-none">2 min ago</span>
                        </div>
                        <div class="flex-shrink-0 h-10 w-10 rounded-full bg-gray-300"></div>
                    </div>
                    <div class="flex w-full mt-2 space-x-3 max-w-xs ml-auto justify-end">
                        <div>
                            <div class="bg-blue-600 text-white p-3 rounded-l-lg rounded-br-lg">
                                <p class="text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                            </div>
                            <span class="text-xs text-gray-500 leading-none">2 min ago</span>
                        </div>
                        <div class="flex-shrink-0 h-10 w-10 rounded-full bg-gray-300"></div>
                    </div>
                    <div class="flex w-full mt-2 space-x-3 max-w-xs ml-auto justify-end">
                        <div>
                            <div class="bg-blue-600 text-white p-3 rounded-l-lg rounded-br-lg">
                                <p class="text-sm">Lorem ipsum dolor sit amet.</p>
                            </div>
                            <span class="text-xs text-gray-500 leading-none">2 min ago</span>
                        </div>
                        <div class="flex-shrink-0 h-10 w-10 rounded-full bg-gray-300"></div>
                    </div>
                    <div class="flex w-full mt-2 space-x-3 max-w-xs">
                        <div class="flex-shrink-0 h-10 w-10 rounded-full bg-gray-300"></div>
                        <div>
                            <div class="bg-gray-300 p-3 rounded-r-lg rounded-bl-lg">
                                <p class="text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            </div>
                        </div>
                    </div>
                    <div class="flex w-full mt-2 space-x-3 max-w-xs ml-auto justify-end">
                        <div>
                            <div class="bg-blue-600 text-white p-3 rounded-l-lg rounded-br-lg">
                                <p class="text-sm">Lorem ipsum dolor sit.</p>
                            </div>
                        </div>
                        <div class="flex-shrink-0 h-10 w-10 rounded-full bg-gray-300"></div>
                    </div> -->
                </ul>
                
            </div>
            <!-- Component End  -->
        
        </div>
        <!-- end of chat -->
        <!-- btm control area -->

        <div class="flex gap-x-[12px] mt-[12px] w-full items-center relative">
            <!-- preview image -->
            
            
            
            <a href="javascript:;" class="inline-block" @click="openCamera">
                <span class="material-symbols-outlined">
                    photo_camera
                </span>
            </a>
            
            <label for="upload">
                <span class="material-symbols-outlined">
                    image
                </span>
            </label>

            <input id="upload" @change="uploadImgChange" type="file" accept="image/*" capture="camera" class="hidden">
                <!-- textarea -->
                <label class="mdc-text-field mdc-text-field--outlined flex-1 relative">
                    <div class="absolute bottom-[60px] w-full max-w-[200px] overflow-hidden left-0 rounded-[12px]" v-show="isIsHasImg">
                        <img class="w-full inline-block" :src="imgURL" alt="">
                    </div>
                    <span class="mdc-notched-outline">
                        <span class="mdc-notched-outline__leading"></span>
                        <span class="mdc-notched-outline__notch">
                            <span class="mdc-floating-label" id="my-label-id"></span>
                        </span>
                        <span class="mdc-notched-outline__trailing"></span>
                    </span>
                    <input type="text" v-model="promptInput" class="mdc-text-field__input"
                        aria-labelledby="my-label-id">
                </label>
                <!-- end of textarea -->
                <a href="javascript:;" v-if="promptInput == '' " class="inline-block" @click="openMic">
                    <span class="material-symbols-outlined" v-if="!isInMic">
                        mic
                    </span>
                    <span class="material-symbols-outlined" v-else>
                        graphic_eq
                    </span>
                </a>
                <button  v-else type="button" class="cursor-pointer"   @click="onClickGenerate">
                    <span class="material-symbols-outlined">
                        send
                    </span>
                </button>
        </div>
        <!-- end of btm control area -->
    </div>
</body>

</html>